equinox
optax 
jraph 
jax-cosmo
einops
transformers
datasets[jax]
torch
torchvision
torch_geometric
torch_scatter
torch_sparse
torch_cluster
pandas
matplotlib
python-louvain
optuna
jupyter
ipywidgets
